<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no" />
        <title>markdonile.com</title>
        <link asp-href-include="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script asp-src-include="/lib/jquery/jquery.min.js"></script> 
        <script asp-src-include="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 offset-4">
                    <h1 class="text-center">markdonile.com</h1>
                </div>
            </div>
        </div>

        @RenderBody()

        <div class="contain-fluid">
            <div class="row">
                <div class="col-4 offset-4">
                    <span>
                        <p class="text-center">
                        <a asp-controller="About">about</a>
                        ::
                        <a asp-controller="Archives">archives</a>
                        </p>
                    </span>
                </div>
            </div>
        </div>

    </body>
</html>