@model AddUserViewModel

<h4>Add User</h4>

<a asp-controller="UserAuthorization" asp-action="SignOutAsync">Sign Out</a>

<form asp-action="Add" method="POST">
    <div>
        <label asp-for="UserName">UserName</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email"/>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password">
    </div>
    <button type="submit">Add User</button>
    <a asp-controller="Home" asp-action="Index">Cancel</a>
</form>