@model SignInViewModel

<div asp-validation-summary=" All" class="text-danger"></div>

<form asp-action="SignIn" method="POST">
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <div>
        <input asp-for="Email" type="email" />
    </div>
    <div>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <button type="submit">Log In</button>
        <a asp-controller="Home" asp-action="Index">Cancel</a>
    </div>
</form>